
/* html */

html{
  box-sizing:border-box
}*,*:before,*:after{
  box-sizing:inherit
}

html{
  -ms-text-size-adjust:100%;-webkit-text-size-adjust:100%
}body{
  margin:0
}

/* Body */

body,h1,h2,h3,h4,h5,h6 {font-family: "Josefin Sans", sans-serif;}
body, html {
  height: 100%;
  color: rgb(0, 0, 0);
  line-height: 1.8;
  background-color: black;
}

/* Font */

h1,h2,h3,h4,h5,h6{
  font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0
}.ls-wide{
  letter-spacing:4px
}

/* Animation */

.ls-animate-fading{
  animation:fading 10s infinite
}@keyframes fading{
  0%{opacity:0}50%{opacity:1}100%{opacity:0}
}

.ls-animate-opacity{
  animation:opac 0.8s
}@keyframes opac{
  from{opacity:0} to{opacity:1}
}

.ls-animate-top{
  position:relative;animation:animatetop 0.4s
}@keyframes animatetop{
  from{top:-300px;opacity:0} to{top:0;opacity:1}
}

.ls-animate-left{
  position:relative;animation:animateleft 0.4s
}@keyframes animateleft{
  from{left:-300px;opacity:0} to{left:0;opacity:1}
}

.ls-animate-right{
  position:relative;animation:animateright 0.4s
}@keyframes animateright{
  from{right:-300px;opacity:0} to{right:0;opacity:1}
}

.ls-animate-bottom{
  position:relative;animation:animatebottom 0.4s
}@keyframes animatebottom{
  from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}
}

.ls-animate-zoom {
  animation:animatezoom 0.6s
}@keyframes animatezoom{
  from{transform:scale(0)} to{transform:scale(1)}
}

.ls-animate-input{
  transition:width 0.4s ease-in-out
}.ls-animate-input:focus{
  width:100%!important
}


/* Background */
.ls-tooltip,.ls-display-container{
  position:relative
}.ls-tooltip .ls-text{
    display:none
  }.ls-tooltip:hover .ls-text{
    display:inline-block
  }

.ls-display-container:hover .ls-display-hover{
  display:block
}.ls-display-container:hover span.ls-display-hover{
  display:inline-block}.ls-display-hover{
    display:none
  }

.ls-opacity-max{
  opacity:0.25
}.ls-opacity-min{
  opacity:0.75
}

.ls-display-middle{
  position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)
}

.ls-left-align{
  text-align:left!important
}.ls-right-align{
  text-align:right!important
}.ls-justify{
  text-align:justify!important
}.ls-center{
  text-align:center!important
}

.ls-padding-small{
  padding:4px 8px!important
}.ls-padding{
  padding:8px 16px!important
}.ls-padding-large{
  padding:12px 24px!important
}



.ls-xlarge{
  font-size:24px!important
}.ls-xxlarge{
  font-size:36px!important
}.ls-xxxlarge{
  font-size:48px!important
}.ls-jumbo{
  font-size:64px!important
}

.ls-hide-small{
  display:none!important
}.ls-mobile{
  display:block;width:100%!important
}.ls-bar-item.ls-mobile,.ls-dropdown-hover.ls-mobile,.ls-dropdown-click.ls-mobile{
  text-align:center
}

/* Colours */
.ls-black,.ls-hover-black:hover{
  color:#fff!important;background-color:#000!important
}

.ls-white,.ls-hover-white:hover{
  color:#000!important;background-color:#fff!important
}


/* Create a Parallax Effect */
.bgimg {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/images/game_bg.png');
  min-height: 100%;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}

/* Navigation Menu */

.ls-wide {letter-spacing: 10px;}
.ls-hover-opacity {cursor: pointer;}

.ls-top,.ls-bottom{
  position:fixed;width:100%;z-index:1
}.ls-top{top:0}.ls-bottom{bottom:0}

.ls-bar-block .ls-dropdown-hover,.ls-bar-block .ls-dropdown-click{
  width:100%
}

.ls-bar-block .ls-dropdown-hover .ls-dropdown-content,.ls-bar-block .ls-dropdown-click .ls-dropdown-content{
  min-width:100%
}

.ls-bar-block .ls-dropdown-hover .ls-button,.ls-bar-block .ls-dropdown-click .ls-button{
  width:100%;text-align:left;padding:8px 16px
}

.ls-bar{
  width:100%;overflow:hidden
}.ls-center .ls-bar{
  display:inline-block;width:auto
}

.ls-bar .ls-bar-item{
  padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0
}

.ls-bar .ls-dropdown-hover,.ls-bar .ls-dropdown-click{
  position:static;float:left
}

.ls-bar .ls-button{
  white-space:normal
}

.ls-bar-block .ls-bar-item{
  width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0
}

.ls-bar-block.ls-center .ls-bar-item{
  text-align:center
}.ls-block{
  display:block;width:100%
}

.ls-cell-row:before,.ls-cell-row:after,.ls-clear:after,.ls-clear:before,.ls-bar:before,.ls-bar:after{
  content:"";display:table;clear:both
}

.ls-hide{
  display:none!important
}.ls-show-block,.ls-show{
  display:block!important
}.ls-show-inline-block{
  display:inline-block!important
}

@media (max-width:992px) and (min-width:601px){.ls-hide-medium{display:none!important}}

.ls-card,.ls-card-2{
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}
.ls-card-4,.ls-hover-shadow:hover{
  box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}

.ls-btn,.ls-button{
  border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap
}

.ls-btn:hover{
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
}

.ls-btn,.ls-button{
  -webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none
}   

.ls-disabled,.ls-btn:disabled,.ls-button:disabled{
  cursor:not-allowed;opacity:0.3}.ls-disabled *,:disabled *{
    pointer-events:none
  }

.ls-btn.ls-disabled:hover,.ls-btn:disabled:hover{
  box-shadow:none
}

